@import 'tailwindcss';
@import '@uploadthing/react/styles.css';
@tailwind utilities;

.scale-90 {
  transform: scaleX(0.87);
  transform-origin: top left;
  width: 115%;
  height: 100%;
}

html,
body,
:root {
  height: 100%;
}

:root {
  /* Основний кольори */
  --primary: #6F5F94;
  --primary-light: #B7A7D8;
  --primary-dark: #4D4373;

  /* Другорядні кольори */
  --secondary: #4A3C73;
  --secondary-light: #7A628F;
  --secondary-dark: #3C2A5E;

  /* Акцентні кольори */
  --accent: #FF55BB;
  --accent-light: #B6EAFA;
  --accent-dark: #FFD3A3;

  /* Фон */
  --background: #FFFFFF;
  --background-light: #F9F9F9;
  --background-dark: #2D2D2D;

  /* Текст */
  --text: #534480;
  --text-light: #F0F0F0;
  --text-dark: #000000;

  /* Кольори для hover */
  --hover-primary: #DEDEF0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--text-dark);
    --background: var(--background-dark);
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --accent: var(--accent-dark);
    --text: var(--text-dark);
  }
}

@layer base {
  :root {
    --foreground: var(--text);
    --background: var(--background);
    --card: var(--background);
    --card-foreground: var(--text);
    --popover: var(--background);
    --popover-foreground: var(--text);
    --primary: var(--primary);
    --primary-foreground: var(--text-light);
    --secondary: var(--secondary);
    --secondary-foreground: var(--text);
    --muted: var(--background);
    --muted-foreground: var(--text);
    --accent: var(--accent);
    --accent-foreground: var(--text);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--text);
    --border: var(--border);
    --input: var(--input);
    --ring: var(--primary);
    --radius: var(--radius);
  }

  .dark {
    --background: var(--secondary);
    --foreground: var(--primary);
    --card: var(--secondary);
    --card-foreground: var(--primary);
    --popover: var(--secondary);
    --popover-foreground: var(--primary);
    --primary: var(--primary);
    --primary-foreground: var(--secondary);
    --secondary: var(--secondary);
    --secondary-foreground: var(--primary);
    --muted: var(--secondary);
    --muted-foreground: var(--primary);
    --accent: var(--secondary);
    --accent-foreground: var(--primary);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--primary);
    --border: var(--secondary);
    --input: var(--secondary);
    --ring: var(--primary);
  }
}

.bg-primary {
  background-color: var(--primary);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-accent-light {
  background-color: var(--accent-light);
}

.bg-accent-dark {
  background-color: var(--accent-dark);
}

.text-primary-foreground {
  color: var(--primary-foreground);
}

.hover\:bg-primary\/90:hover {
  background-color: #DEDEF0;
}

.hover\:bg-accent:hover {
  background-color: var(--accent);
}

.hover\:bg-accent-light:hover {
  background-color: var(--accent-light);
}

.hover\:text-accent-foreground:hover {
  color: var(--accent-foreground);
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.87);
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.89);
}

@media (max-width: 768px) {
  .editor-container {
    padding-top: 7px;
    padding-bottom: 10px;
  }
  .scroll-container::-webkit-scrollbar {
    height: 6px;
  }
}

.tiptap {
  /* Стилі для заголовків */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-wrap: balance;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5,
  h6 {
    font-size: 1rem;
    font-weight: normal;
  }

  /* Стилі для списків */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
  }

  ul li {
    list-style-type: disc;

    p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ol li {
    list-style-type: decimal;

    p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Стилі для таблиць */
  table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;

    td,
    th {
      border: 1px solid var(--color-gray-900);
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: var(--color-gray-200);
      font-weight: bold;
      text-align: left;
    }
  }

  .tableWrapper {
    margin: 1.5rem 0;
    overflow-x: auto;
  }

  /* Стилі для зображень */
  img {
    display: block;
    height: auto;
    margin: 1.5rem 0;
    max-width: 100%;
  }

  /* Стилі для посилань */
  a {
    color: var(--color-sky-700);
    cursor: pointer;

    &:hover {
      @apply underline;
    }
  }

  /* Стилі для коду */
  code {
    background-color: var(--color-sky-100);
    border-radius: 0.3rem;
    color: var(--color-gray-900);
    font-size: 0.9rem;
    padding: 0.2em 0.4em;
    font-family: "Fira Code", monospace;
  }

  pre {
    background-color: var(--color-sky-50);
    border-radius: 0.5rem;
    color: var(--color-gray-900);
    font-size: 0.9rem;
    padding: 1rem;
    overflow-x: auto;
    font-family: "Fira Code", monospace;
    white-space: pre-wrap;
    word-break: break-word;
  }

  pre code {
    background: none;
    padding: 0;
    font-size: inherit;
  }
}